body {
      background-image: url( 'https://img.freepik.com/fotos-premium/informacion-cita-calendario-fondo-actividad-o-textura_9451-155.jpg');
      margin: 0;
      padding: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

input[type="number"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: rgb(249, 235, 210);
    width: 80px;         
    padding: 10px;         
    border: 2px solid #242424; 
    border-radius: 5px;    
    font-size: 14px;     
    color: #333;           
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
}

input[type=number]:out-of-range{
  background-color: rgb(255, 69, 69);
}
.selectDay,
.selectMonth,
.selectYear {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 55, 55);
    text-align: justify;
}

.btnSend { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}
.my1div {text-align: center;}
.my2div {
  text-align: center;
} 
.my3div  {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(57, 55, 55);
  background-color: rgb(255, 210, 210);
  padding: 10px 20px;
  margin: 30px 30px;
  border-radius: 20px;
  text-align: center;
}

.txtWeekDay {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  background-color: rgb(255, 224, 172);
  width: 120px;     
  padding: 10px;     
  border: 45px solid #242424; 
  border-radius: 40px;    
  font-size: 14px;       
  color: #333;          
  text-align: center;
  margin-bottom: 30px;
  margin-left: 40px;
}
